<h1>App Component</h1>
<nav>
    <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="admin">Admin</a></li>
        <li><a routerLink="post">Post</a></li>
        <li><a routerLink="gallery">Gallery</a></li>
        <li><a routerLink="book">Book</a></li>
        <li><a routerLink="company">company</a></li>
        <li><a routerLink="contact">Contact New</a></li>
        <li><a [routerLink]="[{outlets:{contactRouter:['contactNew']}}]">Contact</a></li>
    </ul>
</nav>

<div style="background:red;">
    <router-outlet></router-outlet>
</div>

<div style="background:green;">
    <router-outlet name="contactRouter"></router-outlet>
</div>
